h1{
    font-family: 'Jost',Arial, sans-serif;
    font-size: 48px;
}
h2{
    font-family: 'Jost',Arial, sans-serif;
    font-size: 36px;
    
}
h3{
    font-family: 'Jost',Arial, sans-serif;
    font-size: 24px;
    margin-top: 12px;

}
h4{
    font-family: 'Jost',Arial, sans-serif;
    font-size: 18px;
}
h5{
    font-family: 'Jost',Arial, sans-serif;
    font-size: 24px;
    margin-top: 12px;
    text-align: center;
}

body{
    background-color: #fff;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: 12px;
    
    
}
p{
    margin-left: 12px;
    text-align: justify;
}
a{
    padding: 0px;
    
}
button{
    margin: 12px;
    
}
.welcome{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}
.subtitle{
    padding-bottom: 15px;
    text-align: center;
}
.zoekbar{
    width: 80%;
    margin: auto;
}
.btn-zoek{
    margin-top: 15px ;
}
.main-row{
    padding: 10px;
    margin: 0px;
}

.form-container{
    padding: 30px;
}

.main-form {
    
    margin: auto;
    padding: 30px;
    border: 2px solid #e03f4c ;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #007bff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
  }

.building-container {
    
    background-color: #ffffff;
    padding: 30px;

}
.architect-container {
    background-color: #ffffff;
    padding: 30px;

}

.building-box {
  
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 1;
    background-color: #eee;
    width: 100%;
    

}
.architect-box {
    
    margin-bottom: 15px;
    z-index: 1;
    background-color: #eee;
    width: 100%;
    

}

.viewer3d {
    width: 1000px;
    height: 500px;
    margin-bottom: 70px;
    padding: 0px;
}
.location{
    margin: 12px;
}
.overlay{
    width: 100%;
    height: 200px;
    margin: auto;
    
}
.abstract-img{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom:12px;
    padding-right: 12px;
}
.abstract-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    height: 70px;
}
.abstract-title-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .overlay{
        width: 500px;
        
        
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body{
        font-size: 12px;
    }
    .zoekbar{
        width: 50%;
        margin: auto;
        
    }
    .viewer3d {
        position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
    }
  
   
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }