body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.main-row{
    padding: 10px;
}

.form-container{
    padding: 30px;
}

.main-form {
    
    margin: auto;
    padding: 30px;
    border: 2px solid #e03f4c ;
}

.building-container {
    
    background-color: #ffffff;
    padding: 30px;

}
.architect-container {
    background-color: #ffffff;
    padding: 30px;

}

.building-box {
  
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #dddddd;
    width: 100%;

}
.architect-box {
    padding-top: 15px;
    padding-bottom: 15px;
    
    background-color: #dddddd;
    width: 100%;
    

}


.viewer3d {
    width: 1000px;
    height: 500px;
}
