body{
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.main-form {
    width: 350px;
    margin: auto;
}

.building-container {
    width: 900px;
    background-color: #ffffff;
    padding: 30px;

}
.architect-container {
    width: 900px;
    background-color: #ffffff;
    padding: 30px;

}

.building-box {
    padding-bottom: 30px;
    background-color: #aaaaaa;
    width: 100%;

}
.architect-box {
    padding-bottom: 30px;
    background-color: #aaaaaa;
    width: 100%;

}


.viewer {
    width: 500px;
    height: 500px;
}