body{
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.gebouw-container {
    width: 900px;
    background-color: #ffffff;
    padding: 30px;

}

.gebouw-box {
    padding-bottom: 30px;
    width: 100%;

}

input {
    padding: 0px 20px;
    width: 300px;
    height: 40px;
    font-size: 22px
}

button {
    width: 100px;
    height: 44px;
    font-size: 22px
}
.viewer {
    width: 500px;
    height: 500px;
}